<div class="col-md-12">
  <p>Seleccione el docente del cual desea ver los alumnos de sus cursos vigentes</p>
  <div class="btn-group mb-3" role="group" aria-label="Legajos de Docentes">
    <button
      *ngFor="let docente of docentes"
      class="btn btn-outline-primary"
      (click)="obtenerAlumnosCursosVigentesDeDocente(docente.id)"
    >
      {{ docente.legajo }}
    </button>
  </div>

  <div *ngIf="selectedLegajo > 0">
   
    <table class="table" *ngIf="alumnos.length > 0">
      <thead>
        <tr>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos">
          <td>{{ alumno.nombre }}</td>
        </tr>
      </tbody>
    </table>
    <h6 *ngIf="alumnos.length === 0">No hay alumnos disponibles.</h6>
  </div>
</div>
