/* styles.css o alumno-list.component.css */
.link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 4px; /* Bordes redondeados */
  }
  
  .link:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
  }
  
  .table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse; /* Colapsa bordes para que no haya espacio entre ellos */
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd; /* Borde gris claro */
    padding: 8px; /* Espaciado interno */
    text-align: left; /* Alinear texto a la izquierda */
  }
  
  .table th {
    background-color: #f2f2f2; /* Color de fondo para encabezados */
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Color de fondo alterno para filas */
  }
  
  ul {
    padding: 0; /* Elimina el padding por defecto */
    list-style-type: none; /* Elimina los puntos de la lista */
  }
  
  ul li {
    margin-bottom: 5px; /* Espacio entre los elementos de la lista */
  }
  
  
  .boton
   {
      display: inline-block;
      padding: 10px 15px;
      background-color: #007bff;
      color: white;
      text-decoration: none;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 10px; /* Espacio entre el botón de cancelar y crear */
  }