<div class="tema-create-container">
  <h2>Crear tema</h2>
  <form #temaForm="ngForm" (ngSubmit)="temaForm.valid && crearTema()">
      <div class="form-group">
          <label for="nombre">Nombre del tema</label>
          <input 
              id="nombre" 
              [(ngModel)]="tema.nombre" 
              name="nombre" 
              required 
              class="form-control"
              #nombre="ngModel"
              [ngClass]="{'is-invalid': temaForm.submitted && nombre.invalid}" 
          />
          <div *ngIf="temaForm.submitted && nombre.invalid" class="invalid-feedback">
              El nombre del tema es obligatorio.
          </div>
      </div>
      
      <div class="form-group">
          <label for="descripcion">Descripción</label>
          <input 
              id="descripcion" 
              type="text" 
              [(ngModel)]="tema.descripcion" 
              name="descripcion" 
              required 
              class="form-control"
              #descripcion="ngModel"
              [ngClass]="{'is-invalid': temaForm.submitted && descripcion.invalid}" 
          />
          <div *ngIf="temaForm.submitted && descripcion.invalid" class="invalid-feedback">
              La descripción es obligatoria.
          </div>
      </div>

      <!-- Mensaje de error general -->
      <div *ngIf="temaForm.submitted && !temaForm.valid" class="invalid-feedback">
          Todos los campos son obligatorios.
      </div>

      <button type="submit" class="btn btn-primary">Crear</button>
  </form>
</div>
